asgiref==3.8.1
Django==5.2.1
sqlparse==0.5.3
boto3==1.38.17
botocore==1.38.17
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==44.0.3
dj-database-url==2.3.0
django-anymail==13.0
django-cors-headers==4.7.0
django-jazzmin==3.0.1
django-storages==1.14.6
django-ckeditor-5==0.2.18
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.7
environs==10.0.0
gunicorn==21.2.0
idna==3.6
inflection==0.5.1
jmespath==0.10.0
marshmallow==3.20.1
packaging==23.2
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.6.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0  
s3transfer==0.12.0  
shortuuid==1.0.11  
six==1.16.0
stripe==7.9.0
typing_extensions==4.9.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.18
moviepy==1.0.3